# Python
*.pyc
*.pyo
__pycache__
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
.poetry/
poetry.lock

# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
/static
/media

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains
.idea/

# VS Code
.vscode/
